.shared-container {
	border-bottom: 1px solid #eee;
	padding: 10px 0;
	.shared-content {
	  padding: 10px;
	  .original-content {
	    padding: 10px;
	  }
	  .attached-content {
	    padding: 10px 20px;
	  }
	}
}

.authored-by {
  font-style: italic;
}

.attachment-content {
  img {
    width: 75px;
    height: 75px;
  }
}